{% extends "base.html" %}
{% block title %} Пост {{ post.text}} {% endblock %}
{% load thumbnail %}
{% block content %}
  <div class="container col-lg-9 col-sm-12">
    <div class="row">
      <aside class="col-12 col-md-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
                Дата публикации:
            <br>
            {{ post.pub_date|date:"d E Y" }}
          </li>
          {% if post.group %}
            <li class="list-group-item">
                Сообщество:
              <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}</a>
            </li>
          {% endif %}
          <li class="list-group-item">
              Автор:
            <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
          </li>
          <li class="list-group-item">
              Всего постов автора:
            {{ post.author.posts.count }}
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-8">
        <p>
          {% thumbnail post.image "960x500" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          {{ post.text|linebreaks }}
        </p>
        {% if post.author == user %}
          <form action="{% url 'posts:post_edit' post.pk %}">
            <button type="submit" class="btn btn-primary">Редактировать</button>
          </form>
          <form action="{% url 'posts:post_delete' post.pk %}">
            <button type="submit" class="btn btn-primary">Удалить</button>
          </form>
        {% endif %}
    </div>
    {% include 'posts/includes/comments.html' %}
  </div>
{% endblock %}